* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Square Peg', cursive;
}
#cabeçalho, #contAnima, #contBtn, footer {
    display: flex;
}
#cabeçalho {
    flex-direction: row;
    justify-content: left;
}
#cabeçalho h1 {
    font-weight: 700;
    font-size: 35px;
    margin-left: 0.5cm;
}
#cabeçalho p {
    font-size: 25px;
    font-weight: 600;
    margin-top: 1.5cm;
    margin-left: -4.2cm;
}
#contAnima {
    border-radius: 5px;
    flex-direction: column;
    width: 8cm;
    height: 8cm;
    background-color: black;
    margin-top: 1cm;
    margin-left: 5cm;
}
.anima {
    border-radius: 40px;
    margin: 0.5cm;
    height: 1.5cm;
    width: 1.5cm;
    background-color: white;
}
#contBtn {
    margin-top: 1cm;
    margin-left: 9.2cm;
    flex-direction: column;
    width: 8cm;
}
.btn {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Square Peg', cursive;
    border: 3px solid black;
    padding: 5px;
    border-radius: 15px;
    width: 3.5cm;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}
.btn:hover {
    color: white;
    background-color: black;
}
.btn1 {
    margin-left: -4cm;
}
.animaBtn1 {
    animation-fill-mode: forwards;
    animation-name: animação1;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
.animaBtn2 {
    animation-name: animação2;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes animação1 {
  0% {background-color: white; margin-left: 0.5cm; margin-top: 0.5cm;}
  25% {background-color: aqua; margin-left: 220px; margin-top: 0.5cm;}
  50% {background-color: aquamarine; margin-left: 220px; margin-top: 220px;}
  75% {background-color: bisque; margin-left: 0.5cm; margin-top: 220px;}
  100% {background-color: white; margin-left: 0.5cm; margin-top: 0.5cm;}
}
@keyframes animação2 {
    0% {background-color: white; margin-left: 0.5cm; margin-top: 0.5cm;}
    25% {background-color: bisque; margin-left: 0.5cm; margin-top: 220px;}
    50% {background-color: aquamarine; margin-left: 220px; margin-top: 220px;}
    75% {background-color: aqua; margin-left: 220px; margin-top: 0.5cm;}
    100% {background-color: white; margin-left: 0.5cm; margin-top: 0.5cm;}
}
.btn2 {
    margin-top: -1.1cm;
}
footer {
    font-size: 30px;
    font-weight: bold;
    margin-top: 2cm;
    margin-left: 0.5cm;
    flex-direction: row;
}